.panel__msg {
    color: var(--gray600);
    font-size: 21px;
    letter-spacing: 0;
}

.panel__errorMsg {
    background: #ffe6e8;
    color: #ff4538;
    padding: 24px 16px;
    min-width: 280px;
    border-left: 10px solid #ff4538;
    letter-spacing: 0;
}

.panel__loginForm--label {
    margin-bottom: 5px;
}

.panel__loginForm--input {
    width: 280px;
    padding: 12px;
}

.panel__loginForm--btn {
    background-color: var(--primary400);
    color: var(--gray50);
    height: 40px;
    font-size: 16px;
    text-align: center;
}