.Btn {
  padding: 12px 16px;
  border-radius: 8px;
}

.Btn--md--default {
  background-color: var(--primary450);
  color: #fff;
}

.Btn--md--default:active {
  background-color: var(--primary500);
  color: #fff;
}

.Btn--md--default:hover {
  background-color: var(--primary400);
  color: #fff;
}

.Btn--md--pushed {
  background-color: var(--primary500);
  color: #fff;
}

.Btn--cancel--md--default {
  background-color: var(--gray100);
  color: var(--gray400);
}

.Btn--cancel--md--default:active {
  background-color: var(--gray200);
  color: var(--gray400);
}

.Btn--md--disable {
  background-color: var(--gray300);
  color: #fff;
}

