@keyframes loading {
  0% {
    background-color: #e1e1e4;
  }
  50% {
    background-color: #d3d4d8;
  }
  100% {
    background-color: #e1e1e4;
  }
}

.Category__title--skltn {
  height: 39px;
  width: 200px;
  background-color: var(--gray200);
  animation: loading 2s infinite;
  border-radius: 8px;
}

.Cards--grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 18px;
  row-gap: 18px;
}

.Cards--full {
  min-width: 936px;
  flex-direction: column;
}

.NoCard__img {
  width: 100%;
  max-width: 387px;
  height: auto;
}

.Error404__img {
  width: 100%;
  max-width: 519px;
  height: auto;
}

@media (max-width: 1220px) {
  .Cards--grid {
    grid-template-columns: repeat(2, 2fr);
    column-gap: 18px;
  }
}

@media (max-width: 1200px) {
  .Cards--full {
    min-width: 70vw;
  }
}

@media (max-width: 1050px) {
  .Cards--full {
    min-width: 90vw;
  }
}

@media (max-width: 660px) {
  .Cards--grid {
    grid-template-columns: repeat(1, 1fr);
    align-self: center;
    justify-content: center;
  }
}
