@keyframes loading {
  0% {
    background-color: #e1e1e4;
  }
  50% {
    background-color: #d3d4d8;
  }
  100% {
    background-color: #e1e1e4;
  }
}

.Card--skltn {
  position: relative;
  min-width: 300px;
  height: 584px;
  background-color: var(--gray100);
  padding: 20px;
  border-radius: 16px;
  overflow: hidden;
  text-align: justify;
}

.Card__category--skltn {
  box-sizing: content-box;
  border-radius: 8px;
  padding: 4px 8px;
  height: 17px;
  width: 36px;
  background-color: var(--gray200);
  animation: loading 2s infinite;
}

.Card__title--skltn {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: var(--gray200);
  animation: loading 2s infinite;
}

.Card__description--skltn {
  margin-top: 14px;
}

.Card__desciprtionText--skltn {
  width: 100%;
  height: 17px;
  border-radius: 4px;
  margin-top: 4px;
  background-color: var(--gray200);
  animation: loading 2s infinite;
}

.Card__subscriptionBtn--skltn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  left: 20px;
  right: 20px;
  height: 56px;
  background-color: var(--gray200);
  border-radius: 16px;
  animation: loading 2s infinite;
}

.Card {
  position: relative;
  min-width: 300px;
  height: 584px;
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  overflow: hidden;
  text-align: justify;

  /* shadow */
  transition: ease-in-out 0.2s;
}

.Card:hover {
  box-shadow: none;
}

.Card__category {
  border-radius: 8px;
  padding: 4px 8px;
  color: #fff;
  font-size: 12px;
  font-weight: var(--bold);
  letter-spacing: 1px;
}

.Card__title {
  text-align: left;
  word-break: keep-all;
}

.Card__description {
  line-height: 150%;
  text-align: left;
  word-break: keep-all;
}

.Card__tagSection {
  position: absolute;
  bottom: 96px;
}

.tagSection__sendingTermTag {
  padding: 4px 8px;
  color: var(--primary500);
  background-color: var(--primary100);
  border-radius: 8px;
  font-size: 12px;
  font-weight: var(--bold);
}

.tagSection__sendingDayTag {
  padding: 4px 8px;
  background-color: var(--gray50);
  color: var(--gray300);
  margin-right: 4px;
  font-size: 12px;
  font-weight: var(--medium);
  border-radius: 8px;
}

.on {
  background-color: var(--primary100);
  color: var(--primary500);
}

.tagSection__relatedTag {
  padding: 4px 8px;
  border: 1px solid var(--gray100);
  border-radius: 8px;
  color: var(--gray500);
}

.Card__subscriptionBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  left: 20px;
  right: 20px;
  height: 56px;
  background-color: var(--gray50);
  color: var(--primary600);
  border-radius: 16px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}

.Card__subscriptionBtn:hover {
  background-color: var(--primary450);
  color: #fff;
}

.Card__subscriptionBtn:active {
  background-color: var(--primary500);
}

@media (max-width: 1050px) {
  .Card:hover {
    box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12),
      0px 8px 24px -4px rgba(24, 39, 75, 0.08);
  }
}
