@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
  --background: #f9f9f9;

  --primary100: #e7f9f2;
  --primary200: #b6edd9;
  --primary300: #91e5c7;
  --primary400: #60d9ae;
  --primary450: #32d89d;
  --primary500: #1cb37d;
  --primary600: #0b8f62;

  --gray50: #f9f9f9;
  --gray100: #f0f0f2;
  --gray200: #c4c5ca;
  --gray300: #9799a2;
  --gray400: #52545b;
  --gray500: #2a2b2f;
  --gray600: #1f2022;

  --design: #f34848;
  --develop: #f47113;
  --career: #f9c540;
  --marketing: #db9918;
  --sci-tech: #9fe05e;
  --lifestyle: #1ae885;
  --news: #1adbe8;
  --travel: #1a79e8;
  --society: #8e5cf9;
  --economy: #d069f4;
  --culture: #f854b6;

  --thin: 100;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;

  background-color: var(--background);
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  /* display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  list-style-type: none;
  padding-inline-start: 0;
}

form {
  display: inline-block;
}

span {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: var(--regular);
}

h1 {
  font-weight: 42px;
}

h2 {
  font-size: 34px;
  line-height: 40px;
}

h3 {
  font-size: 27px;
  color: var(--gray600);
  font-weight: var(--bold);
}

/* text */

.bold {
  font-weight: var(--bold);
}

.medium {
  font-weight: var(--medium);
}

.caption {
  font-size: 12px;
  letter-spacing: 1.5%;
}

.smallText {
  font-size: 12px;
  letter-spacing: 10%;
}

.btnText {
  font-size: 15px;
  font-weight: var(--medium);
}

.bodyText1 {
  color: var(--gray400);
  font-size: 16px;
}

.bodyText2 {
  color: var(--gray500);
  font-size: 14px;
}

.subtitle {
  font-size: 17px;
}

/* margin */
.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mr-8 {
  margin-right: 8px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-10 {
  margin-left: 10px;
}

/* Padding */
.px-16 {
  padding: 0 16px;
}

.pt-32 {
  padding-top: 32px;
}

/* utility */
.row {
  display: flex;
}

.container {
  position: relative;
  /* max-width: 1232px; */
  margin: 0 auto;
  /* overflow: auto; */
  padding: 0 20px;
}

.navContainer {
  max-width: 1232px;
  /* justify-content: space-between; */
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flexHorizontal {
  display: flex;
  justify-content: center;
  height: 100%;
}

.flexVertical {
  display: flex;
  align-items: center;
  height: 100%;
} 

.textCenter {
  text-align: center;
}

.flexColumn {
  flex-direction: column;
}

/* custom category colour tags */

.design {
  background-color: var(--design);
}
.develop {
  background-color: var(--develop);
}
.career {
  background-color: var(--career);
}
.marketing {
  background-color: var(--marketing);
}
.sci-tech {
  background-color: var(--sci-tech);
}
.lifestyle {
  background-color: var(--lifestyle);
}
.news {
  background-color: var(--news);
}
.travel {
  background-color: var(--travel);
}
.society {
  background-color: var(--society);
}
.economy {
  background-color: var(--economy);
}
.culture {
  background-color: var(--culture);
}

/* Shadow */
.shadow1 {
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
}