@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local('Noto Sans KR Regular'), url(/fonts/NotoSans-Regular.eot),
    url(/fonts/NotoSans-Regular.woff2) format('woff2'),
    url(/fonts/NotoSans-Regular.woff) format('woff'),
    url(/static_fonts/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: local('Noto Sans KR Medium'), url(/fonts/NotoSans-Medium.eot),
    url(/fonts/NotoSans-Medium.woff2) format('woff2'),
    url(/fonts/NotoSans-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local('Noto Sans KR Bold'), url(/fonts/NotoSans-Bold.eot),
    url(/fonts/NotoSans-Bold.woff2) format('woff2'),
    url(/fonts/NotoSans-Bold.woff) format('woff');
}

:root {
  --background: #f9f9f9;

  --primary100: #e7f9f2;
  --primary200: #b6edd9;
  --primary300: #91e5c7;
  --primary400: #60d9ae;
  --primary450: #32d89d;
  --primary500: #1cb37d;
  --primary600: #0b8f62;

  --gray50: #f9f9f9;
  --gray100: #f0f0f2;
  --gray200: #c4c5ca;
  --gray300: #9799a2;
  --gray400: #52545b;
  --gray500: #2a2b2f;
  --gray600: #1f2022;

  --economy: #f34848;
  --education: #f47113;
  --news: #f9c540;
  --design: #db9918;
  --lifestyle: #9fe05e;
  --marketing: #1ae885;
  --culture: #1adbe8;
  --work: #1a79e8;
  --society: #8e5cf9;
  --tech: #d069f4;
  --trend: #f854b6;

  --regular: 400;
  --medium: 500;
  --bold: 700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;

  background-color: var(--background);
  letter-spacing: 1px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

form {
  display: inline-block;
}

input,
input:focus {
  border: 0;
  outline: 0;
}

span {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: var(--regular);
  cursor: default;
}

h1 {
  font-weight: 42px;
}

h2 {
  font-size: 34px;
  line-height: 40px;
}

h3 {
  font-size: 27px;
  color: var(--gray600);
  font-weight: var(--bold);
}

p,
span {
  cursor: default;
}

/* text */

.bold {
  font-weight: var(--bold);
}

.medium {
  font-weight: var(--medium);
}

.caption {
  font-size: 12px;
  letter-spacing: 1.5%;
}

.small-text {
  font-size: 12px;
  letter-spacing: 10%;
}

.btn-text {
  font-size: 15px;
  font-weight: var(--medium);
}

.body-text1 {
  color: var(--gray400);
  font-size: 16px;
}

.body-text2 {
  color: var(--gray500);
  font-size: 14px;
}

.subtitle {
  font-size: 17px;
}

/* margin */
.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-40vh {
  margin-top: 40vh;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mr-8 {
  margin-right: 8px;
}

.ml-0 {
  margin-left: 0px !important;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-80 {
  margin-left: 80px;
}

/* Padding */
.px-16 {
  padding: 0 16px;
}

.pt-32 {
  padding-top: 32px;
}

.pl-20 {
  padding-left: 20px;
}

/* utility */
.container {
  position: relative;
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 20px;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
  height: 100%;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
  height: 100%;
}

.flex-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* custom category colour tags */
.design {
  background-color: var(--design);
}

.education {
  background-color: var(--education);
}
.work {
  background-color: var(--work);
}
.marketing {
  background-color: var(--marketing);
}
.tech {
  background-color: var(--tech);
}
.lifestyle {
  background-color: var(--lifestyle);
}
.news {
  background-color: var(--news);
}
.economy {
  background-color: var(--economy);
}
.culture {
  background-color: var(--culture);
}
.trend {
  background-color: var(--trend);
}
.society {
  background-color: var(--society);
}

/* Shadow */
.shadow-1 {
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12),
    0px 8px 24px -4px rgba(24, 39, 75, 0.08);
}

.shadow-2 {
  box-shadow: 0px 16px 20px rgba(229, 229, 229, 0.2);
}

/* Border radius */
.border-rad-8 {
  border-radius: 8px;
}

.border-rad-16 {
  border-radius: 16px;
}

.border-rad-50 {
  border-radius: 50px;
}
