.btn {
  width: 92px;
  height: 40px;
  border-radius: 50px;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  margin-left: 10px
}

.coffee {
  background-color: var(--primary100);
  color: var(--primary500);
}

.report {
  background-color: var(--primary450);
  color: #fff;
}