.input {
  border: none;
  height: 100%;
  width: 700px;
  outline: none;
  padding-left: 20px;
}

.input:focus {
  outline: none;
  color: var(--gray600);
}

.input::placeholder {
  color: var(--gray300);
}

.searchBar {
  /* margin-left: 80px; */
  padding-left: 20px;
  color: var(--gray300);
  border-left: 1px solid var(--gray100);
  border-right: 1px solid var(--gray100);
}
