.input {
  height: 100%;
  width: 700px;
}

.input:focus {
  color: var(--gray600);
}

.input::placeholder {
  color: var(--gray300);
}

.searchBar {
  color: var(--gray300);
  border-left: 1px solid var(--gray100);
  border-right: 1px solid var(--gray100);
}
