.background {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  left: -100%;
  z-index: 99998;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

.sideBar {
  position: sticky;
  top: 104px;
  width: 230px;
  margin-right: 20px;
}

.sideBarMobile {
  display: block;
  top: 0px;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
  z-index: 99999;
  background-color: #fff;
  padding: 16px 16px 120px 16px;
  left: -100%;
}

.background.active, .sideBarMobile.active {
  left: 0;
}

.categoryTitle {
  padding: 11px 0px 16px 11px;
}

.categoryTitleMobile {
  padding: 0;
}

.closeBtn {
  position: absolute;
  display: flex;
  width: 100vw;
  z-index: 999999;
  justify-content: flex-end;
  color: #fff;
  padding: 8px;
}

.liItem {
  padding: 13px 16px;
  margin-top: 4px;
  color: var(--gray400);
  width: 100%;
}

.liItem:hover {
  background-color: var(--gray100);
  border-radius: 8px;
}

.filter {
  color: var(--gray600);
}

.selected {
  background-color: var(--gray100);
  color: var(--gray600);
  font-weight: var(--bold);
  border-radius: 8px;
}

.navBtnsMobile {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}
