.Sidebar {
  position: sticky;
  top: 104px;
  width: 230px;
  margin-right: 20px;
}

.Sidebar__title {
  padding: 11px 0px 11px 11px;
}

.Sidbar__categoryTitle {
  padding: 9px 16px;
  margin-top: 3px;
  color: var(--gray400);
  width: 100%;
  cursor: pointer;
}

.Sidbar__categoryTitle:hover {
  background-color: var(--gray100);
  border-radius: 8px;
}

.selected {
  background-color: var(--gray100);
  color: var(--gray600);
  font-weight: var(--bold);
  border-radius: 8px;
}

/* .filter {
  color: var(--gray600);
} */

/* Mobile Class */

.Sidebar--background {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  left: -100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

/* sidebarMobile */
.Sidebar--mobile {
  display: block;
  top: 0px;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
  z-index: 99999;
  background-color: #fff;
  padding: 16px 16px 120px 16px;
  left: -100%;
}

.Sidebar--background.open,
.Sidebar--mobile.open {
  left: 0;
}

.Sidebar__title--mobile {
  padding: 0;
}

.Sidebar__closeBtn--mobile {
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 10000;
  color: #fff;
  padding: 8px;
}

.Sidebar__btnContainer--mobile {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}
